@model LMS.DATA.EF.CourseCompletion

@{
    ViewBag.Title = "Create Course Completion Record";
}

<div class="container">
    <br/>
    <h2 class="text-center">@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseId, "CourseId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateCompleted, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateCompleted, "", new { @class = "text-danger" })
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
        <br/>
    }

        <div>
            <p class="text-center">
                @*@Html.ActionLink("Create New", "Create")*@
                <a href="@Url.Action("Index", "CourseCompletions")" class="btn btn-light text-center">Back to Course Completion List</a>
            </p>
            <br/>
            @*@Html.ActionLink("Back to Course Completion List", "Index")*@
        </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
