@model IEnumerable<LMS.DATA.EF.CourseCompletion>

@{
    ViewBag.Title = "Course Completions";
}
<div class="container">
    <br />
    <h2 class="text-center">@ViewBag.Title</h2>
    <br />
    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {

        <p>
            @*@Html.ActionLink("Create New", "Create")*@
            <a href="@Url.Action("Create", "CourseCompletions")" class="btn btn-light text-center">Create New Course Completion Record</a>
        </p>
        <br />
    }
    <table class="table table-primary display" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateCompleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cours.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserDetail.FullName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCompleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.CourseCompletionId }, new { @class = "btn btn-success" })

                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                        {

                            @Html.ActionLink("Edit", "Edit", new { id = item.CourseCompletionId }, new { @class = "btn btn-warning" })

                            @Html.ActionLink("Delete", "Delete", new { id = item.CourseCompletionId }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table.display').DataTable({ responsive: true });
        });
    </script>
}