@model IEnumerable<LMS.DATA.EF.Lesson>

@{
    ViewBag.Title = "Lesson List";
}
<br />
<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    <br />
    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {
        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@
        <p class="text-center">
            <a href="@Url.Action("Create", "Lessons")" class="btn btn-warning">Create New Lesson</a>
        </p>

        <p class="text-center">
            @*@Html.ActionLink("Create New", "Create")*@
            <a href="@Url.Action("IndexInactiveOnly", "Lessons")" class="btn btn-light">View Inactive Lessons</a>
        </p>
        <br />
    }
    <table class="table table-primary display" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LessonTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LessonDesc)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.VideoURL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PdfFile)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Cours.CourseName)
                </th>
                <th>
                    Completed?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonDesc)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.VideoURL)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.PdfFile)
                        </td>*@
                    @*<td>
                            <a href="@Url.Content("~/Content/img/pdf/" + @item.PdfFile)" target=" _blank">Click for Lesson PDF</a>
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.CourseName)
                    </td>
                    <td>
                        @if (item.hasCompleted == true)
                        {
                            <span>Completed</span>
                        }
                        else
                        {
                            <span>Incomplete</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Open Lesson", "Details", new { id = item.LessonId }, new { @class = "btn btn-success" })
                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                        {

                            @Html.ActionLink("Edit", "Edit", new { id = item.LessonId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.LessonId }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table.display').DataTable({ responsive: true });
        });
    </script>
}