@model LMS.DATA.EF.UserDetail

@{
    ViewBag.Title = "User Detail Deets";
}
<div class="container">
    <br/>
    <h2 class="text-center">@ViewBag.Title</h2>
    <br/>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>
    </div>

    <p class="text-center">
        <a href="@Url.Action("Index", "UserDetails")" class="btn btn-warning">Back to User Details List</a>
    </p>

    <br/>
</div>
