@model IEnumerable<LMS.DATA.EF.UserDetail>

@{
    ViewBag.Title = "User Details";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>*@
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>*@
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.UserId })
                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                        {
                            @:|
                            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) @:|
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable();
        });
    </script>
}