<!DOCTYPE html>
<html lang="en">

<head>

    <title>Coding Bootcamp Survival Kit</title>
    <meta charset="utf-8">
    <meta name="keywords" content="learning management system, LMS, employee, manager, admin" />
    <meta name="author" content="Danielle Smalley, me@daniellethedev.com" />
    <meta name="description" content="A learning management system site for coding bootcamp students and recent coding bootcamp grads entering the workforce" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!--Added for responsive data tables-->
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />
    @*<link rel="manifest" href="/site.webmanifest">*@
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <!--

    TemplateMo 561 Purple Buzz

    https://templatemo.com/tm-561-purple-buzz

    -->
</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="@Url.Action("Index", "Home")">
                @*<i class='bx bx-buildings bx-sm text-dark'></i>*@
                <span class="iconify" data-icon="bx:bx-trophy" data-width="40" data-height="40"></span>
                <span class="text-dark h4">Coding Bootcamp </span> <span class="text-primary h4"> Survival Kit </span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    @*<div class="collapse navbar-collapse" id="navbarNavDropdown">*@
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="@Url.Action("Index", "Home")">Home</a>
                        </li>

                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                        {
                            <li class="nav-item dropdown btn-outline-primary rounded-pill px-3">
                                <a class="nav-item nav-link rounded-pill px-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Courses
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Courses")">Courses</a>
                                    @if (Request.IsAuthenticated && User.IsInRole("HRAdmin") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Index", "CourseCompletions")">Completed Courses</a>
                                    }
                                    @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                                    {
                                        <a class="dropdown-item" href="@Url.Action("EmployeeProgress", "CourseCompletions")">Course Completion Progress</a>
                                    }
                                </div>
                            </li>
                        }

                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                        {
                            <li class="nav-item dropdown btn-outline-primary rounded-pill px-3">
                                <a class="nav-item nav-link  rounded-pill px-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Lessons
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Lessons")">Lessons</a>
                                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin") || User.IsInRole("Manager"))
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Index", "LessonViews")">Lesson Views</a>
                                    }
                                    @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                                    {
                                        <a class="dropdown-item" href="@Url.Action("EmployeeProgress", "LessonViews")">Lesson Progress</a>
                                    }
                                </div>
                            </li>
                        }

                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link btn-outline-primary rounded-pill px-3" href="@Url.Action("Index", "UserDetails")">User Details</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>

                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                        {
                            <li class="nav-item dropdown btn-outline-primary rounded-pill px-3">
                                <a class="nav-item nav-link  rounded-pill px-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="@Url.Action("Index", "RolesAdmin")">Roles</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "UsersAdmin")">Users</a>
                                </div>
                            </li>
                        }

                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>

            </div>
        </div>
        </div>
    </nav>
    <!-- Close Header -->
    @RenderBody()

    <!-- Start Footer -->
    <footer class="bg-secondary pt-4">
        <div class="container">
            <div class="row py-4">

                <div class="col-lg-3 col-12 left-align">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        @*<i class='bx bx-buildings bx-sm text-light'></i>*@
                        <span class="iconify" data-icon="bx:bx-trophy" data-width="30" data-height="30"></span>
                        <span class="text-light h5">Coding Bootcamp </span> <span class="text-light h5 semi-bold-600"> Survival Kit </span>
                    </a>
                    <p class="text-light my-lg-4 my-2">
                        Helping coding bootcamp students and new developers succeed!
                    </p>
                    <ul class="list-inline footer-icons light-300">
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="http://facebook.com/">
                                <i class='bx bxl-facebook-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.linkedin.com/">
                                <i class='bx bxl-linkedin-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.whatsapp.com/">
                                <i class='bx bxl-whatsapp-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.flickr.com/">
                                <i class='bx bxl-flickr-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.medium.com/">
                                <i class='bx bxl-medium-square bx-md'></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h3 class="h4 pb-lg-3 text-light light-300">
                        Our Company
                    </h3>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">About Us</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Our Work</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300">Our Works</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Branding</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Business</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Digital Solutions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300">For Clients</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:888-888-8888">888-888-8888</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1" href="mailto:me@daniellethedev.com">me@daniellethedev.com</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-4 col-sm-8">
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright @DateTime.Now.Year  Danielle Smalley. All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-2">
                        <p class="text-center text-light light-300">
                            <a class="text-center text-light light-300" href="#">Back To Top</a>
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-8">
                        <p class="text-lg-end text-center text-light light-300">
                            Template by <a rel="sponsored" class="text-decoration-none text-light" href="https://templatemo.com/" target="_blank"><strong>TemplateMo</strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
    <!-- Bootstrap -->
    @*<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>*@

    <!--Added for datatables mobileresponsiveness-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

    <!--TODO: This is jquery/JS number 1-->
    <script>
        $(window).load(function () {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function () {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
            //if I end up wanting this in index but not shared, can put this in an at section scripts { }
    </script>

    <!--This ended up looking really ugly and didn't have enough time to fix styling-->
    @*<script>
            $(function () {
                $('div.align-self-center ul.nav li.nav-item').each(
                    function () {
                        if ($(this).find('a').attr('href') == window.location.pathname) {
                            $(this).addClass("active");
                        }
                    }
                )
            });
        </script>*@

    @RenderSection("scripts", required: false)

</body>

</html>
