@model IEnumerable<LMS.DATA.EF.Course>

@{
    ViewBag.Title = "Course Catalog";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.CourseImg)*@
                    <img src="@Url.Content("~/Content/img/" + item.CourseImg)" alt="@item.CourseName" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    @Html.ActionLink("See Lessons", "Details", new { id = item.CourseId })

                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                    {
                        @:|
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                    }
                </td>
            </tr>
        }

    </table>
</div>