@model IEnumerable<LMS.DATA.EF.Course>

@{
    ViewBag.Title = "Course Catalog";
}
<br/>
<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    <br/>
    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {
        <p class="text-center">
            <a href="@Url.Action("Create", "Courses")" class="btn btn-warning">Create New Course</a>
        </p>

        <p class="text-center">
            @*@Html.ActionLink("Create New", "Create")*@
            <a href="@Url.Action("IndexInactiveOnly", "Courses")" class="btn btn-light text-center">View Inactive Courses</a>
        </p>
        <br/>
    }
    <table class="table table-dark" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseImg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
                <th>
                    Completed?
                    @*@Html.DisplayNameFor(model => model.IsActive)*@
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.CourseImg)*@
                        <img src="@Url.Content("~/Content/img/" + item.CourseImg)" alt="@item.CourseName" loading="lazy" class="lazyload" />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @if (item.hasCompleted == true)
	                        {
		                           <span>Completed</span>
                        }
                        else
                        {
                                <span>Incomplete</span>
                        }
                    </td>

                    <td>
                        @Html.ActionLink("See Lessons", "Details", new { id = item.CourseId }, new { @class = "btn btn-success" })
                        @*<a href="@Url.Action("OriginalDetails", "Courses", new { id = item.CourseId })">Course Details</a>*@

                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                        {

                            @Html.ActionLink("Edit Course", "Edit", new { id = item.CourseId }, new { @class = "btn btn-warning" }) 
                            <br/>
                            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable();
        });
    </script>
}