@model IEnumerable<LMS.DATA.EF.Course>

@{
    ViewBag.Title = "Inactive Courses";
}

@if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
{
    <br/>
    <div class="container text-center">
        <h2>@ViewBag.Title</h2>
        <br/>
        <p class="text-center">
            @*@Html.ActionLink("Create New", "Create")*@
            <a href="@Url.Action("Index", "Courses")" class="btn btn-light">Go Back to Active Courses</a>
        </p>
        <br/>
        <table class="table table-dark" id="data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseImg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.CourseImg)*@
                            <img src="@Url.Content("~/Content/img/" + item.CourseImg)" alt="@item.CourseName" />

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.CourseImg)
                            </td>*@
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }, new { @class = "btn btn-warning" }) 
                            @Html.ActionLink("Details", "Details", new { id = item.CourseId }, new { @class = "btn btn-success" }) 
                            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { @class = "btn btn-danger"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable();
        });
    </script>
}