@model LMS.DATA.EF.LessonView

@{
    ViewBag.Title = "Lesson Completion Details";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateViewed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateViewed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.LessonTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FullName)
            </dd>

        </dl>
    </div>
    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.LessonViewedId })
            </p>
    }
    <p>
            @Html.ActionLink("Back to Lesson Completion List", "Index")
        </p>
    </div>