@model IEnumerable<LMS.DATA.EF.LessonView>

@{
    ViewBag.Title = "Your Lesson Completion Progress";
}

<div class="container">
    <br />
    <h2 class="text-center">@ViewBag.Title</h2>
    <br />
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table table-primary display" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateViewed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserDetail.FullName)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateViewed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewedId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.LessonViewedId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewedId })
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <br />
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table .display').DataTable();
            responsive: true
        });
    </script>
}