@model IEnumerable<LMS.DATA.EF.LessonView>

@{
    ViewBag.Title = "Lesson Completions";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateViewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateViewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.LessonViewedId })
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                    {
                        @:|
                        @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewedId }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewedId })
                    }
                </td>
            </tr>
        }

    </table>
</div>