@model IEnumerable<LMS.DATA.EF.LessonView>

@{
    ViewBag.Title = "Lesson Completions";
}
<div class="container">
    <br />
    <h2 class="text-center">@ViewBag.Title</h2>
    <br />
    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {

        <p>
            <a href="@Url.Action("Create", "LessonViews")" class="btn btn-warning">Create New Lesson View Record</a>
        </p>
        <br />
        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@
    }
    <table class="table table-primary display" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateViewed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserDetail.FullName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateViewed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.LessonViewedId }, new { @class = "btn btn-success" })
                        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
                        {

                            @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewedId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewedId }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table.display').DataTable({responsive: true});
            responsive: true
        });
    </script>
    }