@model LMS.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "User Details (UsersAdmin)";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
    <h4>List of roles for this user</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user.</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("HRAdmin"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </p>
    }
        <p>
            @Html.ActionLink("Back to Users List", "Index")
        </p>
    </div>


